gradio>=6.0.0,<7.0.0
pillow>=10.0.0
numpy<2.0.0
opencv-python-headless
basicsr
facexlib
gfpgan
realesrgan
rembg
onnxruntime
devicetorch
ffmpeg-python
pydantic==2.10.6
requests
yt-dlp
imageio-ffmpeg
transformers>=4.45.0
iopaint
